.btn {
  font-family: var(--font-special);
  font-weight: var(--font-weight-medium);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-size: var(--font-size-16);
  border: none;
  line-height: 1.3;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  display: inline-flex;
  align-items: center;

  background-color: var(--btn-bg, transparent);
  color: var(--btn-color, currentColor);
  border: var(--btn-border-width, 1px) solid
    var(--btn-border-color, transparent);

  &:hover {
    cursor: pointer;
    background-color: var(--btn-hover-bg, var(--btn-bg));
    color: var(--btn-hover-color, var(--btn-color));
    border-color: var(--btn-hover-border-color, var(--btn-border-color));
  }

  &--small {
    --btn-padding-y: 6px;
    --btn-padding-x: 6px;
    min-height: 35px;
  }
}

.btn-accent {
  --btn-bg: transparent;
  --btn-color: var(--color-accent);
  --btn-border-color: var(--color-accent);

  --btn-hover-bg: var(--color-accent);
  --btn-hover-color: var(--color-white);
  --btn-hover-border-color: var(--color-accent);
}

.btn-primary {
  --btn-bg: var(--color-dark);
  --btn-color: var(--color-white);
  --btn-border-color: transparent;

  --btn-hover-bg: var(--color-gold);
  --btn-hover-color: var(--color-dark);
  --btn-hover-border-color: transparent;
}

.btn-transparent {
  --btn-bg: transparent;
  --btn-color: var(--color-dark);
  --btn-border-color: var(--color-dark);

  --btn-hover-bg: var(--color-dark);
  --btn-hover-color: var(--color-white);
  --btn-hover-border-color: var(--color-dark);
}
