.participants {
  &__title {
    margin-bottom: 36px;
  }

  &__container {
    position: relative;
  }

  &__slider-actions {
    margin-top: 40px;
  }
}

.participants-list {
  margin: 0;
  padding: 0;

  &__item {
    padding: 0 12px;
  }
}

.participant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6px;

  &__image {
    width: 100%;
    max-width: 244px;
    height: auto;
    display: block;
  }

  &__name {
    text-transform: unset;
    font-family: var(--font-primary);
  }

  &__status {
    font-size: var(--text-lead);
    color: var(--color-primary-light);
    margin-bottom: 10px;
  }

  &__image {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .participant-card {
    &__image {
      max-width: 320px;
    }
  }

  .participants {
    &__title {
      margin-bottom: 55px;
    }

    &__slider {
      .slider__actions {
        position: absolute;
        top: -16px;
        right: 10px;
        z-index: 2;
      }

      .slider__icon {
        width: 44px;
        height: 44px;
      }
    }
  }
}
