.stages {
  &__title {
    display: inline;
    line-height: 1.15;
  }

  &__link {
    margin: 10px 0 0 0;
    max-width: 300px;
  }

  &__title-wrapper {
    margin-bottom: 147px;
  }

  &-list {
    &__item {
      padding-top: 62px;
      background-color: var(--color-gray-lighter);
      background-image: image-set(
        url("../../assets/img/bg-stage.png") 1x,
        url("../../assets/img/bg-stage@2x.png") 2x
      );
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 300px;
    }
  }

  &-slider {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: calc(50% - -11px);
      transform: translateX(-50%) rotate(-3deg);
      top: -159px;
      width: 336px;
      height: 252px;
      pointer-events: none;
      background-image: image-set(
        url("../../assets/img/plane.png") 1x,
        url("../../assets/img/plane@2x.png") 2x
      );
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 2;
    }

    &__actions {
      margin-top: 26px;
      justify-content: center;
    }
  }
}

.stage-block {
  display: grid;
  grid-template-columns: 36px auto;
  gap: 0 16px;
  padding: 0 20px 30px 20px;
  font-size: var(--text-link);

  &--with-plane {
    position: static;
    padding-right: 20px;
  }

  &__text {
    line-height: 120%;
  }

  &__number {
    align-content: center;
    align-self: self-start;
    color: var(--color-primary);
    background: var(--color-white);
    border-radius: 50%;
    text-align: center;
    height: 36px;
    font-weight: var(--font-weight-semibold);
  }
}

@media (min-width: 768px) {
  .stages {
    &__link {
      margin: 0 0 0 10px;
    }

    &__title {
      line-height: 1.25;
    }

    &__viewport {
      overflow: unset;
    }

    &__title-wrapper {
      margin-bottom: 54px;
    }

    &-slider {
      &::before {
        content: none;
      }

      &__actions {
        display: none;
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-areas:
        "one-two one-two one-two"
        "three three three"
        "four-five four-five four-five"
        "six six six"
        "seven seven seven";
      gap: 20px;
      align-items: stretch;

      &__item {
        min-height: auto;
        padding-top: 0;
        background: none;
      }

      &__item--paired {
        display: grid;
        gap: 0 20px;
        grid-template-columns: 1fr 1fr;
        height: 100%;
      }

      &__item--one-two {
        grid-area: one-two;
      }
      &__item--three {
        grid-area: three;
      }
      &__item--four-five {
        grid-area: four-five;
      }
      &__item--six {
        grid-area: six;
      }
      &__item--seven {
        grid-area: seven;
      }
    }
  }

  .stage-block {
    background-color: var(--color-gray-lighter);
    background-image: image-set(
      url("../../assets/img/bg-stage.png") 1x,
      url("../../assets/img/bg-stage@2x.png") 2x
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    min-height: 100%;
    font-size: var(--text-lead);

    &--with-plane {
      position: relative;
      padding-right: 310px;

      &::before {
        content: "";
        position: absolute;
        right: -63px;
        bottom: -1px;
        width: 406px;
        height: 230px;
        pointer-events: none;
        background-image: image-set(
          url("../../assets/img/plane.png") 1x,
          url("../../assets/img/plane@2x.png") 2x
        );
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
}

@media (min-width: 992px) {
  .stages-list {
    grid-template-areas:
      "one-two one-two three"
      "four-five four-five three"
      "six seven seven";
  }
}
