.support {
  --support-header-mb: 40px 0;
  --details-list-margin: 44px 0 35px 0;
  --img-left-transform: scale(1.13) translate(0px, 14px);
  --img-left-margin-bottom: 59px;

  &__header-grid {
    margin-bottom: 40px;
  }

  &__title {
    font-size: var(--text-title);

    &--danger {
      color: var(--color-danger);
      font-weight: var(--font-weight-bold);
    }

    &--top {
      margin-bottom: 22px;
      display: inline-block;
    }
  }

  &__img-top {
    max-width: 100%;
    margin-bottom: 16px;
  }

  &__img-left {
    max-width: 100%;
    transform: var(--img-left-transform);
    margin-bottom: var(--img-left-margin-bottom);
  }

  &__details-list {
    margin: var(--details-list-margin);
  }
}

@media (min-width: 992px) {
  .support {
    --details-list-margin: 60px 0 40px 0;
    --img-left-transform: scale(1.07) translate(-10px, -10px);
    --img-left-margin-bottom: 0;

    &__header-grid {
      margin-bottom: 93px;
      position: relative;
      padding-right: 400px;
    }

    &__title {
      &--top {
        margin-bottom: 0;
        display: inline;
      }
    }

    &__img-top {
      position: absolute;
      top: -28px;
      right: 0;
      width: 393px;
    }
  }
}
