.tournament-header {
	background-color: var(--color-light);
	min-height: 700px;

	&__content {
		max-width: 544px;
	}

	&__topbar {
		padding-top: 28px;
		margin-bottom: 55px;
	}

	&__logo {
		max-width: 245px;
	}

	&__title {
		font-size: var(--text-heading-super);
		text-transform: uppercase;
		line-height: 1.1;
		letter-spacing: 0.8px;
		margin-bottom: 24px;
	}

	&__title-sub {
		display: inline-block;
		text-align: center;
	}

	&__description {
		margin-bottom: 40px;
		text-align: center;
		font-size: var(--font-size-18);
	}

	&__actions {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		gap: 16px;
	}
}
