h1,
h2,
h3,
h4,
h5,
h6,
.title {
	font-family: var(--font-accent);
	font-weight: var(--font-weight-regular);
	color: var(--color-dark);
  text-transform: uppercase;
  letter-spacing: .25px;
}

h2 {
  font-size: var(--text-title);
}

.title {
  &--1 {
    font-size: var(--text-heading-1);
  }
}

.link {
  display: inline-block;
  line-height: 120%;
  font-size: var(--text-lead);
  color: var(--color-primary);
  text-decoration: none;
  text-transform:none;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);

  &:hover {
    text-decoration: underline;
  }
}
